.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



body {
  font-family: 'Arial', sans-serif;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.card-img-top {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card-body {
  padding: 1.25rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.cart-info button {
  font-size: 16px;
  font-weight: bold;
}
.card{
  font-style: oblique;
  font-weight: bold;
}


